@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    :root {
        --background: 0 0% 9.02%;
        --foreground: 0 0% 98%;
        --card: 0 0% 3.9%;
        --card-foreground: 0 0% 98%;
        --popover: 0 0% 3.9%;
        --popover-foreground: 0 0% 98%;
        --primary: 20.5 90.2% 48.2%;
        --primary-foreground: 60 9.1% 97.8%;
        --secondary: 12 6.5% 15.1%;
        --secondary-foreground: 60 9.1% 97.8%;
        --muted: 0 0% 14.9%;
        --muted-foreground: 0 0% 63.9%;
        --accent: 0 0% 14.9%;
        --accent-foreground: 0 0% 98%;
        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 0 0% 98%;
        --border: 0 0% 14.9%;
        --input: 0 0% 14.9%;
        --ring: 0 72.2% 50.6%;
        --discord: 226.73 58.43% 65.10%;
    }
}


@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }

    .collapsible {
        @apply mb-10;
        @apply mt-10;
    }

    .collapsible-content {
        @apply mt-5;
    }

    .collapsible-trigger {
        @apply border-b border-white;
        /* Adjust based on your Tailwind version/config */
    }

    .collapsible-content[data-state="open"] {
        animation: slideDown 400ms ease-out;
    }

    .collapsible-content[data-state="closed"] {
        animation: slideUp 300ms ease-out;
    }

    @keyframes slideDown {
        from {
            opacity: 10%;
            transform: translateY(-1rem);
        }
    }

    @keyframes slideUp {
        to {
            opacity: 10%;
            transform: translateY(-1rem);
        }
    }

    .center-ul {
        justify-content: center;
        text-align: left;
        padding-left: 0;
        width: 100%;
    }

    .bg-discord {
        background-color: hsl(var(--discord));
    }

    .simple-border {
        position: relative;
        padding: 0.5rem 1rem;
        background-color: rgba(0, 0, 0, 0.8);
        border: 1px solid rgba(255, 255, 255, 0.2);
        border-radius: 0.25rem;
        color: #FFFFFF;
    }

    .simple-border::before,
    .simple-border::after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        border: 1px solid rgba(255, 255, 255, 0.2);
        pointer-events: none;
    }

    .simple-border::before {
        top: -2px;
        left: -2px;
        bottom: -2px;
        right: -2px;
    }

    .simple-border::after {
        top: 2px;
        left: 2px;
        bottom: 2px;
        right: 2px;
    }

    .custom-border {
        position: relative;
        display: inline-block;
        padding: 0.5rem 1rem;
        background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent background */
        color: #FFFFFF; /* White text */
        border-left: 4px solid rgba(255, 255, 255, 0.8); /* Bolder left side */
    }

    .custom-border::before,
    .custom-border::after {
        content: '';
        position: absolute;
        border: 1px solid rgba(255, 255, 255, 0.8); /* Light white border */
        width: calc(100%); /* Adjust for bolder left side */
        pointer-events: none; /* Ensure the pseudo-elements don't interfere with user interactions */
    }

    .custom-border::before {
        top: -1px;
        left: 0;
        border-left: none;
        border-top: none;
        transform: translate(0, 0);
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    }

    .custom-border::after {
        bottom: -1px;
        right: 0;
        border-right: none; /* No right border */
        border-bottom: none; /* No bottom border */
        transform: translate(0, 0);
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    }

    /* Custom scrollbar styles */
    ::-webkit-scrollbar {
        width: 6px; /* width of the scrollbar */
    }

    ::-webkit-scrollbar-track {
        background: hsl(var(--background)); /* background of the scrollbar track */
    }

    ::-webkit-scrollbar-thumb {
        background: hsl(var(--primary)); /* color of the scrollbar thumb */
        border-radius: 6px; /* roundness of the scrollbar thumb */
    }

    ::-webkit-scrollbar-thumb:hover {
        background: white; /* color of the scrollbar thumb when hovered */
    }
}